::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
body, input,button,div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: middle;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
    color: #333;
    background: #fff;
}
button,
body{
    font-size: 12px;
    font-family: Arial, sans-serif, Heiti SC, Helvetica, Roboto, Noto, Microsoft YaHei, '微软雅黑';
    line-height: 1.1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

input{
    outline: none;
}
/** 重置文本格式元素 **/
a { text-decoration: none;  -webkit-touch-callout:none;}
a:hover { text-decoration: none; }

p {
    word-break: break-all; /*支持IE，chrome，FF不支持*/
    word-wrap: break-word; /*支持IE，chrome，FF*/
}

p,span,div,h1,h2,h3,a{
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='date']{
    display: block;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
}

.login{
    display:inline-block;
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
}
.login input{
    padding: 10px 10px;
    border: 1px solid #ccc;
}

.login button{
    text-align: center;
    height: 35px;
    line-height: 35px;
    width: 100%;
    color: #fff;
    margin-top: 20px;
    background: #44cb83;
}

.login input,
.login button{
    width: 270px;
}

.canvas{
    position: fixed;
    bottom: 0;
    left: 0;
    transform-origin: left bottom;
    -webkit-transform-origin: left bottom;
}

.error,.error img{
    width: 100%;
    text-align: center;
}
.error img{
    display: block;
    max-width: 375px;
    margin: 0 auto;
}

.countdown{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.count-day{
    color: #44cb83;
    font-size: 30px;
}
.we{
    font-size: 30px;
}