<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="author" content="wangxing">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="format-detection" content="telephone=no">
    <title>请用微信打开</title>
    <link rel="stylesheet"  href="/css/main.css"/>
</head>
<body>
    <div class="login error">
        <h1>请使用微信打开链接</h1>
        <h1>扫描二维码打开</h1>
        <img src="/create_qrcode?text=<%= host %>" />
    </div>
</body>
</html>