<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="author" content="wangxing">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="format-detection" content="telephone=no">
    <title>这是一个神秘的网站</title>
    <script>
        (function(){
           var ua = navigator.userAgent.toLowerCase();
            if(ua.match(/MicroMessenger/i) != 'micromessenger'){
               location.href="/error?href="+location.origin;
            }
        })();
    </script>
    <link rel="stylesheet"  href="/css/main.css"/>
</head>
<body>


    <div id="msg" class="msg">

    </div>

    <div id="login" class="login">
        <input id="input" type="tel" placeholder="请输入你的手机号！" />
        <button id="btn" type="button">登录</button>
    </div>


    <div class="countdown" id="countdown">
        <p class="we">我们相识</p>
        <div class="clearfix">
            <p id="day" class="count-day"></p>
            <p>天</p>
            <p id="hours" class="count-hours"></p>
            <p>小时</p>
            <p id="minutes" class="count-minutes"></p>
            <p>分钟</p>
            <p id="seconds" class="count-seconds"></p>
            <p>秒</p>
        </div>
    </div>

    <div class="canvas">
        <canvas id="canvas" height="680" width="1100"></canvas>
    </div>
    <script type="text/javascript" src="/js/run.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/love.js" charset="utf-8"></script>
</body>
</html>