<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui"/>
    <meta name="author" content="wangxing">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="format-detection" content="telephone=no">
    <title>这是一个神秘的网站</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>

    <div class="login">
        <input id="input" type="tel" placeholder="请输入你的手机号！" />
        <button id="btn" type="button">登录</button>
    </div>


    <div id="">
        <div class="canvas">
            <canvas id="canvas" height="680" width="1100"></canvas>
        </div>
    </div>

    <script type="text/javascript" src="/js/jscex.min.js"></script>
    <script type="text/javascript" src="/js/jscex-parser.js"></script>
    <script type="text/javascript" src="/js/jscex-jit.js"></script>
    <script type="text/javascript" src="/js/jscex-builderbase.min.js"></script>
    <script type="text/javascript" src="/js/jscex-async.min.js"></script>
    <script type="text/javascript" src="/js/jscex-async-powerpack.min.js"></script>
    <script type="text/javascript" src="/js/love.js" charset="utf-8"></script>
</body>
</html>